<!-- pages/templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<h1>About page</h1>

<section>
      <article>
         <h1>An Intersting Fact About Me</h1>
         <p>On May 11, 2012, I was diagnosed with type 1 diabetes and conjestive
           heart failure. At the time of diagnosis, I was in what is called
           "Diabetic Ketoacidosis". In lamens terms, I was in a diabetes induced
           coma. Doctors were certain I wouldn't make it out of it after discovering
           the heart condition during my comatose state. I spent 6 days on life
           support. Towards the end, my doctors and family members were losing
           hope. However, by the grace of whatever higher power is out there,
           I awoke from my slumber (as I like to call it). For quite some time
           after being released from the hospital, I resented the world and my
           body for what it had done to me.
           </p>

           <p>Today, I realize that this was a tool given me. It is a tool that I
           am able to utilize to help others who are going through what I did 8
           years ago. The experience helped me to realize that I could make
           something positive, something GREAT out of a negative situation. I
           can now honestly say, that experience is one of the best things to
           ever happen to me. It has shaped me into the man I am today.
         </p>
{% endblock content %}
